.component-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	gap: 1rem;
	margin: 2rem 0;
}

.component-item {
	width: 100%;

	@media (min-width: 1000px) {
		max-width: calc(290px + 2rem);
	}

	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		background-color: var(--nidhugg-base-400);
		width: 100%;
		padding: 1rem;
		border-radius: var(--nidhugg-rounded);
		transition: background-color 0.25s ease;

		&:hover {
			background-color: var(--nidhugg-base-500);
		}
	}

	picture {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

	img {
		width: 100%;
		height: auto;
		border-radius: var(--nidhugg-rounded);
	}
}
