.nidhugg-modal__dialog {
	display: none;
	transition: all 0.3s ease-in-out;
	opacity: 1;
	transform: scale(1);
	position: fixed;
	z-index: 10;
	width: max-content;
	padding: 0;
	background-color: var(--nidhugg-base-100, #2a303c);
	color: var(--nidhugg-base-content, #fefefe);
	border-radius: var(--nidhugg-rounded, 0.5rem);
	border: 2px solid var(--nidhugg-neutral, #1c212b);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.nidhugg-modal__dialog[open]::backdrop {
	opacity: 0.6;
	background-color: #000;
}

.nidhugg-modal__dialog[open] {
	@starting-style {
		opacity: 0;
		transform: scale(0);
	}
	display: block;
}

.nidhugg-modal__header {
	background-color: var(--nidhugg-base-300, #20252e);
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1rem;

	&.no-heading {
		background-color: transparent;
		padding-bottom: 0;

		.nidhugg-modal__close-btn {
			color: var(--nidhugg-base-content, #fefefe);
			background-color: var(--nidhugg-base-300, #20252e);
		}
	}
}

.nidhugg-modal__heading {
	margin: 0;
}

.nidhugg-modal__close-btn {
	background-color: var(--nidhugg-base-100, #2a303c);
	color: var(--nidhugg-base-content, #fefefe);
	transition: background-color,
	color 0.3s ease-in-out;
	border: none;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -0.5rem;
	margin-right: -0.5rem;
	cursor: pointer;

	&:hover {
		color: var(--nidhugg-base-200, #242933);
		background-color: var(--nidhugg-base-content, #fefefe);
	}
}

.nidhugg-modal__main {
	background-color: var(--nidhugg-base-100, #2a303c);
	padding: 0 1rem 1rem;
}
