---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
{%- css %}{% include "public/css/component.css" %}{%- endcss %}
{%- css %}{% include "public/script/nidhugg/modal/nidhuggModal.css" %}{%- endcss %}
{%- css %}{% include "public/script/nidhugg/imageModal/nidhuggImageModal.css" %}{%- endcss %}
{%- css %}{% include "public/script/nidhugg/backToTop/nidhuggBackToTop.css" %}{%- endcss %}

<article id="component-page" itemScope itemProp="mainEntity" class="content">
	<nidhugg-back-to-top scroll-to="top-scroll">
		<header class="">
			<h1 class="" itemProp="headline">{{ pageTitle or title }}</h1>
		</header>
		<div itemScope>
			{{ content | safe }}
		</div>
		{%- if collections.components %}
			{%- set previousPost = collections.components | getPreviousCollectionItem %}
			{%- set nextPost = collections.components | getNextCollectionItem %}
			{%- if nextPost or previousPost %}
				<footer class="">
					<div class="">
						{%- if previousPost %}
							<span class="block">← Previous</span> <a href="{{ previousPost.url }}">{{ previousPost.data.pageTitle }}</a>
						{% endif %}
					</div>
					{%- if nextPost %}
						<div class=""><span class="block">Next →</span><a href="{{ nextPost.url }}">{{ nextPost.data.pageTitle }}</a></div>{% endif %}

				</footer>
			{%- endif %}
		{%- endif %}

	</nidhugg-back-to-top>
</article>

