---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
{%- css %}{% include "public/css/component.css" %}{%- endcss %}
<article id="component-page" itemScope itemType="http://schema.org/BlogPosting" itemProp="mainEntity" class="content">
<header class="flex flex-wrap py-4 px-0 justify-between mb-4 border-b">
		<h1 class="py-4 mb-4 basis-full w-full" itemProp="headline">{{ title }}</h1>

</header>
	<div
		itemScope
		itemType="http://schema.org/ArticleBody">
	{{ content | safe }}
	</div>
{%- if collections.components %}
{%- set previousPost = collections.components | getPreviousCollectionItem %}
{%- set nextPost = collections.components | getNextCollectionItem %}
{%- if nextPost or previousPost %}
	<footer class="my-8 py-4 flex flex-row justify-between items-center">
		{%- if previousPost %}<div class=""><span class="block">← Previous</span> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></div>{% endif %}
		{%- if nextPost %}<div class=""><span class="block">Next →</span><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></div>{% endif %}

	</footer>
{%- endif %}
{%- endif %}

</article>
